@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 74px;
}

body {
  background-color: black;
}

p {
  color: #c5c5c5;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  margin-top: 30px;
}

li {
  color: rgb(197, 197, 197);
  line-height: 30px;
  font-size: 20px;
}
.container {
  width: 85%;
  margin: auto;
}

.competitor{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 90%;
  max-width: 1200px;
  margin-bottom: 70px;
  
}
.competitorimg{
  width: 50%;
}

/* SOME ECCOM STYLES */

.list {
  color: #c5c5c5;
  line-height: 30px;
  font-size: 20px;
  
}

.barchart{
  margin-top: 50px;
  width: 40%;
  margin: auto;
}

.ptitlesubecom {
  font-weight: bolder;
  font-size: 18px;
  color: rgb(243, 242, 242);
  margin-bottom: 5px;
  margin-top: 10px;
  text-transform: uppercase;
 
}
.ptitlesubecomsub{
  font-weight: bolder;
  font-size: 18px;
  color: rgb(243, 242, 242);
  
  margin-top: 20px;
  
}

.prosandcons{
  font-weight: bolder;
  font-size: 18px;
  color: rgb(243, 242, 242);
  text-transform: uppercase;
  margin-top: 15px;
}

.kayakimg{
  width: 50%; 
  float: left; 
  margin-right: 30px; 
  margin-bottom: 10px;
}
.mobilerespecom {
  margin-top: 300px;
  font-weight: 700;
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}
/* ENDS HERE */



/*  */

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  margin-bottom: 30px;
  

}

/* Hide the images by default */
.mySlides {
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* ENDS HERE */


.hubbtitle {
  text-align: left;
  color: white;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.hubbtitleecom {
  text-align: left;
  color: white;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.boxone {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 70px;
}

.containergrid p {
  line-height: 40px;
}

.titlegrid {
  color: rgb(151, 150, 150);
}
.projectoverview p {
  color: rgb(197, 197, 197);
}
.ptitle {
  margin-top: 70px;
  font-weight: 700;
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}
.ptitlesub {
  font-weight: 700;
  font-size: 22px;

  color: #e9e7e7;
}
.sub {
  margin-top: 50px;
}

.headingcon {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}
.linetwo {
  width: 20px;
  height: 5px;
  border-radius: 20px;
  margin-right: 10px;
  background-color: #e9e7e7;
}

.pimage {
  object-fit: cover;
  margin-top: 30px;
  margin-bottom: 50px;
}

.pimagetwo {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}
.pimagethree {
  width: 20%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.one {
  width: 500px;
  height: 500px;
  margin: auto;
}
.pimagekid {
  width: 100%;
  height: 100%;
}

.personaimg {
  margin: auto;
  width: 70%;
  object-fit: cover;
  margin-top: 50px;
}
.personakid {
  width: 100%;
}
.buttonsdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  width: 290px;
}
.buttons {
  width: 150px;
    height: 50px;
    border: 4px solid #00FFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kid {
  width: 200px;
  margin-left: 10px;
}

.butt {
  margin-top: 50px;
}

.buttons:hover {
  transition: 0.3s;
  font-size: 14px;
  font-weight: 900;
}
.buttons a {
  color: white;
  text-decoration: none;
}
.question {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.question p {
  font-weight: 900;
  font-size: 22px;
}
.textcontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
}

.textanswer {
  background-color: #2c2c2c;
  width: 47%;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  
}

.textanswer p {
  margin-left: 30px;
  
}
.textanswer h3 {
  color: white;
  text-align: right;
  margin-right: 40px;
  margin-top: 15px;
}

.line {
  width: 5px;
  height: 50px;
  background-color: #022081;
  margin-right: 20px;
}

.imagecon {
  margin-top: 30px;
  margin-bottom: 100px;

  display: flex;
  align-items: top;
}
.shift {
  margin-left: 50px;
}
.personas {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

@media screen and (min-width: 1550px) {
  .container {
    width: 70%;
  }
  .competitor{
    width: 100%;
    
  }
}

@media screen and (max-width: 1356px) {
  .competitor {
    width: 100%;
  }
}

@media screen and (max-width: 1264px) {
  .boxone {
    gap: 40px;
  }
  p {
    font-size: 18px;
  }
  li {
    font-size: 18px;
  }
  .list{
    font-size: 18px;
  }
  .ptitlesub {
    font-size: 20px;
  }
}

@media screen and (max-width: 1097px) {
  .competitor {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .competitorimg{
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1036px) {
  .container {
    width: 90%;
  }

  .pimagethree {
    width: 30%;
  }
}

@media screen and (max-width: 932px) {
  .boxone {
    grid-template-columns: 1fr 1fr;
  }
  .hubbtitle {
    font-size: 40px;
  }
  .ptitle {
    font-size: 28px;
  }
  .question p {
    font-size: 20px;
    font-weight: 500px;
  }
  .competitorimg {
    width: 70%;
  }

  
  @media screen and (max-width: 786px) {
    .textcontainer {
      display: flex;
      flex-direction: column;
    }
    .textanswer {
      margin-top: 30px;
      width: 100%;
    }
    .personas {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
    .pimagetwo {
      width: 100%;
    }
    .pimagethree {
      width: 40%;
    }
  }
  @media screen and (max-width: 600px) {
    p {
      font-size: 16px;
    }
    li {
      font-size: 18px;
    }
    .list{
      font-size: 16px;
    }
    .ptitlesub {
      font-size: 18px;
    }
    .ptitlesubecom{
      font-size: 18px;
    }
    
    .competitorimg{
      width: 100%;
    }
  }
  @media screen and (max-width: 538px) {
    .boxone {
      grid-template-columns: 1fr;
    }
    .pimagethree {
      width: 50%;
    }
  }
}


@media screen and (max-width: 860px) {
  .prosandcons{
    font-size: 16px;
  }
  .kayakimg{
    width: 100%; 
    margin-right: 30px; 
    margin-bottom: 10px;
  }
}

